<div class="change-passwordPageContent content container">
  <form #f="ngForm" (ngSubmit)="changePassword()" class="row g-3">
      <h3 class="col-md-6 offset-md-3">Change Password</h3>
      <div class="col-md-6 offset-md-3">
        <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="model.password" placeholder="New Password" name="password" required #password="ngModel">
      </div>
      <div class="col-md-6 offset-md-3">
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Change Password</button>
      </div>
  </form>    
</div>