.pricing-container{
    align-items: center;
    justify-items: center;
}

.pricing-title{
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.pricing-description{
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 3rem;
    font-weight: 600;
}

.pricing-icluded-packages{
    justify-items: center;
    align-items: center;
}

.pricing-packages{
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 149, 120, .4);
    border-radius: 9999px;
}

.pricing-included-packages-title{
    margin-bottom: 1rem;
}

.pricing-included-packages-description{
    font-size: .85rem;
    line-height: 1.2rem;
    letter-spacing: .025rem;
    font-weight: bold;
    padding-bottom: .3rem;
    padding-top: .8rem;
    padding-right: .6rem;
    padding-left: .6rem;
}

.pip-start{
    padding-left: 1.6rem;
}

.pip-end{
    padding-right: 1.6rem;
}

.pricing-plan{
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5;
    color: #5555;
    margin: 15px;
}

.pricing-plan-highlighted{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.pricing-plan-header{
    padding: 25px;
    background: #009578;
    color: #ffff;
}

.pricing-plan-special-text{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #ffff;
    background: #007c64;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.pricing-plan-title,
.pricing-plan-summary{
    margin: 0;
    text-align: center;
}

.pricing-plan-title{
    font-size: 1.5em;
    font-weight: 400;
}

.pricing-plan-summary{
    font-size: 1em;
    font-weight: 300;
}

.pricing-plan-description{
    padding: 25px;
}

.pricing-plan-list{
    padding: 0;
    margin: 0;
}

.pricing-plan-feature{
    list-style: none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    font-size: 0.9em;
}

.pricing-plan-feature:not(:last-child){
    margin-bottom: 0.5em;
}

.pricing-plan-feature::before{
    content: "√";
    font-weight: bold;
    color: #009578;
    position: absolute;
    left: 0;
}

.pricing-plan-actions{
    padding: 25px;
    border-top: 1px solid #eeee;
    display: flex;
    flex-direction: column;
}

.pricing-plan-button{
    display: inline-block;
    margin: 15px auto;
    padding: 8px 20px;
    text-decoration: none;
    color: #009578;
    background: #ffff;
    border-radius: 5px;
    border: 1px solid #009578;
    letter-spacing: 0.02em;
    font-weight: bold;
}

.pricing-plan-button:hover{
    background: #009578;
    color: #ffff;
}

.pricing-plan-cost{
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: black;
}

.pricing-plan-text{
    font-size: 0.9em;
    text-align: center;
    margin: 0 0 10px 0;
}

.pricing-plan-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}